{% load static %}
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper hide">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                    <span></span>
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
            <li class="sidebar-search-wrapper">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
                <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
                <form class="sidebar-search  " action="page_general_search_3.html" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit">
                                <i class="icon-magnifier"></i>
                            </a>
                        </span>
                    </div>
                </form>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>
            <li class="nav-item start active open">
                <a href="{% url 'home' %}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
               
            </li>
           
               
            
            <li class="heading">
                <h3 class="uppercase">Pages</h3>
            </li>
            

            <li class="nav-item  ">
                <a href="{% url 'branch' %}" class="nav-link nav-toggle">
                    <i class="icon-basket"></i>
                    <span class="title">Branch</span>
                   
                </a>
                
            </li>
            <li class="nav-item  ">
                <a href="{% url 'department' %}" class="nav-link nav-toggle">
                    <i class="icon-docs"></i>
                    <span class="title">Department</span>
                </a>
            </li>
           
            <li class="nav-item  ">
                <a href="{% url 'designation' %}" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">Designation</span>
                   
                </a>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">Employee</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="{% url 'employee' %}" class="nav-link ">
                            <i class="icon-user"></i>
                            <span class="title">Employee Report</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="{% url 'addemployee' %}" class="nav-link ">
                            <i class="icon-user-female"></i>
                            <span class="title">Add a New Employee</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="{% url 'transfer' %}" class="nav-link ">
                            <i class="icon-user-female"></i>
                            <span class="title">Employee Transfer</span>
                        </a>
                    </li>
                  
                </ul>
            </li>
            <li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-user"></i>
                        <span class="title">Attendance</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  "  >
                            <a href="{% url 'atttendance_report' %}" class="nav-link ">
                                <i class="icon-user"></i>
                                <span class="title">Attendance Report </span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="{% url 'add_attendance' %}" class="nav-link ">
                                <i class="icon-user-female"></i>
                                <span class="title">Add Attendance </span>
                            </a>
                        </li>
                       
                    </ul>
                </li>
                <li class="nav-item  ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-user"></i>
                            <span class="title">Leave</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item  ">
                                <a href="{% url 'leave_type' %}" class="nav-link ">
                                    <i class="icon-user"></i>
                                    <span class="title">Leave Type </span>
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a href="{% url 'add_leave' %}" class="nav-link ">
                                    <i class="icon-user-female"></i>
                                    <span class="title">Add Leave </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item  ">
                            <a href="{% url 'general_settings' 1 %}" class="nav-link nav-toggle">
                                <i class="icon-user"></i>
                                <span class="title">General Settings</span>
                               
                            </a>
                    </li>
                    <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-user"></i>
                                <span class="title">Report</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="{% url 'total_employee' %}" class="nav-link ">
                                        <i class="icon-user"></i>
                                        <span class="title">Total Employee Report </span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{% url 'total_attendance' %}" class="nav-link " style="  display: none;">
                                        <i class="icon-user-female"></i>
                                        <span class="title">Total Attendance Report</span>
                                    </a>
                                </li>
                            
                              
                            </ul>
                        </li>
            
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>